includes:
    - phpstan.dist.neon

parameters:
    tmpDir: var/phpstan/test
    paths:
        - tests/
    symfony:
        containerXmlPath: var/cache/test/App_KernelTestDebugContainer.xml
    ignoreErrors:
        -
            identifier: function.alreadyNarrowedType
            path: tests/bootstrap.php
