parameters:
    level: 8
    tmpDir: var/phpstan/dist
    paths:
        - bin/
        - config/
        - public/
        - src/
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
