parameters:
    level: 8
    tmpDir: var/phpstan/dist
    paths:
        - bin/
        - public/
        - src/
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors:
        -
            identifier: method.unused
            path: src/Kernel.php
