<!doctype html>
<html lang="{{ language }}">
<head>
    <title>{{ subject }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
{{ body | raw }}
</body>
</html>
