<html lang="en">
<p>Hi {{ recipient_email }},</p>

<p>A request to reset the password for your account has been made.</p>

<p>You may now log in by clicking on this link or copying and pasting it in your browser: <br />
    <a href="{{ url }}">{{ url }}</a>
</p>

<p>This link can only be used once to log in and will lead you to a page where you can set your password. It expires after one day and nothing will happen if it's not used.</p>

<p>This is an automated message. Please do NOT reply to the sender address!</p>

<p>
    ---<br />
    {{ site_name }} Team.
</p>
</html>
